---
import BaseLayout from '../layouts/BaseLayout.astro';
import SecondaryBanner from '../components/SecondaryBanner.astro';
---

<BaseLayout 
	title="Hosting ACSOS" 
	currentPage="hosting"
	headerStyle="alt style5"
>
	<SecondaryBanner 
		title="Hosting ACSOS"
		styleClass="alt style5"
	>
		<p>
			The steering committee of the International Conference on Autonomic and Self-Organising Systems (ACSOS) solicits bids to host future editions of the conference. 
			Previous editions in the series are listed <a href="/series">here</a>.
		</p>
		<p>
			We are currently inviting bids for hosting the 2027 and 2028 editions of the conference!
		</p>
	</SecondaryBanner>

	<!-- Main -->
	<div id="main">

		<!-- Bids Section -->
		<section id="one">
			<div class="inner">
				<header class="major">
					<h2>Bids to Host ACSOS 2027 and 2028</h2>
				</header>
				<p>
					Bids for hosting the 2027 edition should be submitted by 30th April 2025. <b>Bids should be submitted via email to the Steering Committee Co-Chairs, 
					<a href="mailto:peter.lewis@ontariotechu.ca">Peter Lewis</a> and <a href="mailto:ada.diaconescu@telecom-paris.fr">Ada Diaconescu</a>.</b> You are also welcome and encouraged to email the Co-Chairs for an informal discussion prior to submitting your bid.
				</p>
				<p>
					Bids are eligible if they are made by individuals or small groups from the ACSOS research community. 
					On request, the main organisers must be able to supply evidence of support from their employer (e.g., a university), especially if that employer will also 
					act as the hosting institution. Bids from meeting professionals will not be considered.
				</p>
			</div>
		</section>

		<!-- About ACSOS Section -->
		<section id="two">
			<div class="inner">
				<header class="major">
					<h2>About ACSOS</h2>
				</header>
				<p>
					The IEEE International Conference on Autonomic Computing and Self-Organizing Systems (ACSOS) is the <b>leading forum to share the latest research results, ideas and experiences
					in autonomic computing, self-adaptation and self-organization.</b>
				</p>
				<p>
					The world is increasingly embracing autonomous systems: in robotics, manufacturing, software engineering, vehicles, data center systems, and precision agriculture to name 
					just a few areas. These systems are bringing autonomy to a whole new level of dynamic decision-making under uncertainty, requiring autonomic behavior (e.g., control theory, 
					cybernetics) and self-reference, leading to a range of self-* properties (e.g., self-awareness, self-adaptation, self-organization), and an approach in which system 
					implementation and its environment are holistically considered.
				</p>
				<p>
					ACSOS is particularly proud of its long-standing academic breadth and innovative industry contributions, and regularly features work from computational biologists through 
					to operating systems researchers – united by the common theme of autonomous systems.
				</p>
				<p>
					Now in its 7th edition, ACSOS was founded in 2020 as a merger of the IEEE International Conference on Autonomic Computing (ICAC) and the IEEE International Conference 
					on Self-Adaptive and Self-Organizing Systems (SASO). As a community, we are proud of our more than 15-year history of being a welcoming, open-minded, interdisciplinary, 
					and scientifically rigorous research community.
				</p>
				<p>
					<b>ACSOS traditionally encompasses a 5-day programme and usually takes place in late September/early October</b>. Two days are typically reserved for a lively workshop program, 
					as well as and tutorials and other satellite events. At least 4 parallel sessions need to be accommodated on these days. The main conference is typically held in single-track
					format, to allow the whole community to share and explore diverse ideas. ACSOS typically also includes keynotes, panels, a Doctoral Symposium, the 'ACSOS In Practice' track,
					Artefact track, as well as posters and demos. Additional facilities might be required as exhibition spaces for sponsors.
				</p>
				<p>
					With regard to social events, it is traditional to have a Welcome Reception as well as a conference banquet. The organisers of past events have always succeeded in giving 
					these events a local cultural flair!
				</p>
			</div>
		</section>

		<!-- Requirements Section -->
		<section>
			<div class="row inner">
				<div class="col-6 col-12-small">
					<h3>We encourage proposals to be brief but include at least the following information:</h3>
					<ul>
						<li>Proposed location including a short summary of why this would be a great location for the ACSOS conference</li>
						<li>Initial Local Organisation Committee along with the affiliation, position, and coordinates of the primary contact person that will be available for clarifications of the bid and past experience of conference organisation</li>
						<li>Venue for the conference, including the estimated cost of hosting the conference under the constraints described above</li>
						<li>The suggested dates for the conferences, possibly with alternatives</li>
						<li>Information about logistics such as flight and train connections (with prices from major transportation hubs), available accommodations (hotels, student housing, etc.) and their price points, expected weather at the time of the conference, other large events taking place in the area at the same time</li>
						<li>Potential for local sponsorship from both the public and the private sector</li>
						<li>Rough budget estimates including break-even points in number of registrants as well as an estimated registration fee</li>
						<li>Potential co-located events</li>
					</ul>
					<p><b>Please state all budget items consistently in either US Dollars or Euros.</b></p>
				</div>
				<div class="col-6 col-12-small">
					<h3>The ACSOS Steering Committee will evaluate bids with a focus on the following criteria:</h3>
					<ul>
						<li>Experience of the organisers and prominence in the community</li>
						<li>Support of the event by public and private local organisations and the host institution</li>
						<li>Expected affordability of the event for researchers from around the world</li>
						<li>Adequacy of the facilities for the conference itself as well as adequacy of accommodations in close proximity of the conference</li>
						<li>Attractiveness (including travel convenience) of the host city and the surrounding area</li>
						<li>Adequacy of the estimated budget</li>
						<li>Distance to previous conference locations</li>
					</ul>
					<p><b>We look forward to receiving your bid to host our research community!</b></p>
				</div>
			</div>
		</section>

	</div>
</BaseLayout>
