name: Build and deploy
on:
  pull_request:
  push:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
          submodules: recursive
          fetch-tags: 'true'
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build Astro website
        run: npm run build
      
      - name: Debug
        run: echo $GITHUB_REPOSITORY
      
      - name: Deploy to acsos.github.io
        if: github.event_name == 'push' && github.ref_name == 'main'
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          ssh-key: ${{ secrets.DEPLOY_KEY }}
          git-config-name: github-actions
          git-config-email: github-actions@github.com
          repository-name: acsos/acsos.github.io
          branch: new-website
          folder: dist
